@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;padding: 0;
  font-family: 'Poppins', sans-serif;
}

.honeycomb-container.true{
  background: url(https://cdn.pixabay.com/photo/2018/04/04/22/14/abstract-3291293_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;

  background-color: #fafafa;

}

.honeycomb-container.true nav.navbar{
  background-color: transparent;
}

nav.navbar #navbar-icon {
  cursor: pointer;
  height: 30px;
  width: 50px;
  object-fit: contain;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
   border-radius: 50%;
}

#navbar-menu-container {
  background: #f7f7f7;
  background: transparent;

position:absolute;
	z-index: 9999999;
  /* height: auto; */
  /* padding-bottom: 30rem; */

  width: 100%;
  transition: all 0.3s ease;

  height: 90vh;
  overflow: hidden;

}
.hide {
  position: absolute;
  left: -100vw;
  opacity: 0;
}
body {
  overflow-x: hidden;
}

.honeycomb-cell_img.bg {
  opacity: 0.8;
}





 /* Stuff to make codepen work */
 *,
 *:after,
 *:before {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

 /* XV SCSS Variables */
 /* Outer Hexagon */
 .hexagon-grid-container {
   display: flex;
   flex-wrap: wrap;
   width: 60%;
   margin: 0 auto;
   padding: 0;
   list-style: none;
 }

 .hexagon {
   position: relative;
   width: 140px;
   height: 80.83px;
   background-color: #9fa0a2;
   margin: 44px 2px 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .hexagon:before,
 .hexagon:after {
   content: "";
   position: absolute;
   width: 0;
   border-left: 70px solid transparent;
   border-right: 70px solid transparent;
 }
 .hexagon:before {
   bottom: 100%;
   border-bottom: 40.41px solid #9fa0a2;
 }
 .hexagon:after {
   top: 100%;
   width: 0;
   border-top: 40.41px solid #9fa0a2;
 }

 /* Inner Hexagon */
 .hexagon-inner {
   position: relative;
   width: 136px;
   height: 78.52px;
   background-color: #c9c9c9;
   margin: 39.26px 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
 }
 .hexagon-inner:before,
 .hexagon-inner:after {
   content: "";
   position: absolute;
   width: 0;
   border-left: 68px solid transparent;
   border-right: 68px solid transparent;
   z-index: 1;
 }
 .hexagon-inner:before {
   bottom: 100.5%;
   border-bottom: 39.26px solid #c9c9c9;
 }
 .hexagon-inner:after {
   top: 100.5%;
   width: 0;
   border-top: 39.26px solid #c9c9c9;
 }

 /* Media queries */
 @media (min-width: 1920px) {
   .hexagon-grid-container {
     width: 1600px;
   }

   .hexagon:nth-child(21n + 12) {
     margin-left: 74px;
   }
 }
 @media (max-width: 1919px) and (min-width: 1280px) {
   .hexagon-grid-container {
     width: 1100px;
   }

   .hexagon:nth-child(14n + 8) {
     margin-left: 74px;
   }
 }
 @media (max-width: 1279px) and (min-width: 1024px) {
   .hexagon-grid-container {
     width: 960px;
   }

   .hexagon:nth-child(12n + 7) {
     margin-left: 74px;
   }
 }
 @media (max-width: 1023px) and (min-width: 781px) {
   .hexagon-grid-container {
     width: 780px;
   }

   .hexagon:nth-child(9n + 6) {
     margin-left: 74px;
   }
 }
 @media (max-width: 780px) and (min-width: 640px) {
   .hexagon-grid-container {
     width: 640px;
   }

   .hexagon:nth-child(7n + 5) {
     margin-left: 74px;
   }
 }
 @media (max-width: 639px) {
   .hexagon-grid-container {
     width: 320px;
   }

   .hexagon:nth-child(3n + 3) {
     margin-left: 74px;
   }
 }
 /* Avatar */
 .hexagon-avatar-img {
   position: absolute;
   width: 42px;
   border-radius: 42px;
   border: 2px solid #fff;
   top: -24px;
   z-index: 1;
 }

 /* Name */
 .hexagon-name {
   position: absolute;
   width: 130px;
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-size: 12px;
   top: 25px;
   z-index: 1;
 }

 /* Metric */
 .hexagon-metric-label {
   margin-top: 0.5rem;
   /* position: absolute; */
   width: 130px;
   text-align: center;
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 12px;
   top: 48px;
   z-index: 1;
 }

 /* Score */
 .hexagon-featured-score {
   position: absolute;
   z-index: 2;
   bottom: -24px;
   width: 32px;
   height: 32px;
   border-radius: 36px;
   border: 1px solid;
   text-align: center;
   padding-top: 9px;
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-size: 12px;
   color: #fff;
   background: #b4b5b6;
   border-color: #9fa0a2;
 }

 /* Right / Left Icons */
 .hexagon-icon-left,
 .hexagon-icon-right {
   position: absolute;
   z-index: 2;
   top: 58px;
   width: 24px;
   height: 24px;
   border-radius: 24px;
   border: 1px solid #9fa0a2;
   background: #b4b5b6;
   color: #9fa0a2;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 10px;
 }

 .hexagon-icon-left {
   left: 3px;
 }

 .hexagon-icon-right {
   right: 3px;
 }

 :root {
   --white-color: #dddddd;
   --yellow-color: #ffbf00;
 }

 .hexagon {
   background-color: var(--white-color);
   cursor: pointer;
   color: white;
    border-left: 2px solid #666666;
    border-right: 2px solid #666666;

   color: black;
   transition: 2s;
 }
 .hexagon-inner {
   background-color: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .hexagon-name {
   position: initial;
   font-family: "Poppins", sans-serif;
   padding: 0 5px;
   word-wrap: break-word;
 }

 .hexagon::before,
 .hexagon::after {
   border-color: transparent;
 }
 .hexagon-inner::before {
   border-bottom-color: var(--white-color);
   transition: 2s;

 }
 .hexagon-inner::after {
   border-top-color: var(--white-color);
   transition: 2s;

 }

 @keyframes animate {
   0% {
     filter:contrast(0%);
   }
   100% {
     filter:contrast(100%);
   }
 }

 .hexagon:hover {
   background-color: var(--yellow-color);
   color: white;

   transition: 0s;
   animation: animate 2s linear infinite;

 }

 .hexagon:hover .hexagon-inner::before,
 .hexagon:hover .hexagon-inner::after {
   border-bottom-color: var(--yellow-color);
   border-top-color: var(--yellow-color);
   transition: 0s;
 }
 
 .hexagon::before {
   bottom: 100%;
   border-bottom: 40.41px solid #666666;
 }
 .hexagon::after {
   border-top: 40.41px solid #666666;
 }



 .hexagon-grid-container {
  display: none;
}

@media screen and (min-width: 1910px) {
  .hexagon-grid-container.one {
    display: flex;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1910px) {
  .hexagon-grid-container.two {
    display: flex;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .hexagon-grid-container.three {
    display: flex;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .hexagon-grid-container.four {
    display: flex;
  }
}

@media screen and (max-width:780px) {
  #navbar-menu-container{
    overflow: scroll;
  }
}

@media screen and (min-width: 640px) and (max-width: 780px) {
  .hexagon-grid-container.six {
    display: flex;
  }
}

@media screen and (max-width:640px) {
  .hexagon-grid-container.five {
    display: flex;
  }

}